
/*header start*/
.header {
    /*position: fixed;
    left: 0;
    right: 0;*/
    z-index: 1002;
    height: 50px; 
    background:#33373b;
    padding: 0 15px;
}
/* a.logo{
    margin-top:6px;
} */
a.logo span{
    font-size: 14px;
    color:#fff;
    margin-left: 10px;
    margin-top: 12px;
}
.header-nav{
    margin-left: 47px;
}
.header-nav>ul>li{
    float:left;
    height:50px;
    line-height:50px;
    width: 104px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.header-nav>ul>li a{
     color: #fff;
     display: block;
}
.header-nav>ul>li.active{
    background-color: #1a1d1f;
}
.header-nav>ul>li:hover{
    background-color: #1a1d1f;
}
.right-nav>ul>li{
    height:44px;
    width: 50px;
    text-align: center;
    float: left;
    padding-top:6px;
}
.right-nav>ul>li i{
    color: #fff;
    font-size: 26px;
    line-height: 36px;
}
.right-nav>ul>li .number{
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    color: #FFF;
    background-color: #F30;
    text-align: center;
    display: block;
    min-width: 10px;
    height: 14px;
    padding: 0 2px;
    border: solid 2px #FFF;
    border-radius: 9px;
    position: absolute;
    z-index: 1;
    top: 2px;
    right: 1px;
    -webkit-animation: twinkling 1s infinite ease-in-out;
}
@-webkit-keyframes 'twinkling' {
    /*透明度由0到1*/
    0% {
        opacity: 0;
        /*透明度为0*/
    }

    100% {
        opacity: 1;
        /*透明度为1*/
    }
}
.right-nav .username {
    font-size: 13px;
    color: #bdbdbd;
    display: block;
    text-align: right;
}
.pic1{
     width: 35px;
    height: 35px;
   margin-left: 15px;
   margin-right: 5px;
}
.pic1 img{
    border:1px solid #fff;
    width: 35px;
    height: 35px;
    border-radius:35px;
}
.caret{
    margin-right: 5px;
}
/*header over*/
.content{
    width:100%;
    height:100%;
    overflow: hidden;
    /*padding-top: 50px;*/
}
.wraper{
    height: 100%;
}
.wraper>.content>.left{
    height: 100%;
}
/*left-nav*/
/*改动的************************************************************/
.left-nav{
    background-color: #303030;
    height:100%;
    position: relative;
}
.left-nav>ul>li{
    width: 70px;
    height: 70px;
    text-align: center;
   /* position: relative;*/
    padding-top: 10px;
}
.left-nav>ul>li i{
    font-size:30px;
}
.left-nav>ul>li.active{
    background-color: #ec6d00;
}
.left-nav>ul>li.active i.icon-left{
   display: block;
}
.left-nav>ul>li i.icon-left{
    position: absolute;
    top:20px;
    right:-11px;
    color: #fff;
    display: none;
}
.left-nav>ul>li a{
    color: #fff;
    display: block;
}
.mid-nav{
    height:100%;
    overflow: hidden;
    width:142px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    left: 70px;
}
.mid-nav{
     display: none;
}
.mid-nav>ul>li{
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #949494;
}
.mid-nav>ul>li a{
    color: #949494;
    display: block;
}
.mid-nav>ul>li.active{
    background-color: #fff;
}
.left-tabs{
    display: none;
}
/*left-nav*/
/*right*/
.right{
    overflow: hidden;
    background-color: #fff;
    padding: 10px;
    margin-left: 213px;
    height: 100%
}
/*改动的***************************************************************************8*/
.right>ul>li{
    width:100%;
    overflow: hidden;
}
.right>ul>li.active{
    display: block;
}
.info-hd{
    border-bottom: 1px solid #cdcdcd;
    height: 35px;
    color: #646464;
}
.info-hd>ul>li{
    float: left;
    height: 35px;
    line-height: 35px;
    text-align: center;
    padding:0 10px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    border-radius: 4px;
    margin-right: 2px;
    cursor: pointer;
    font-size: 16px;
}
.info-hd>ul>li.active{
    background-color: #e5e5e5;
     border: none;
}
.info-bd>ul>li{
    display: none;
}
.info-bd>ul>li.active{
    display: block;
}
.tips{
    margin-left: 25px;
}
.tip-title{
    color: #3b6db3;
    margin-bottom: 10px;
}
.tip-title i{
    font-size: 26px;
}
.tip-info{
    color: #858585;
}
.tip-info p{
    margin-bottom:6px;
}
.price-map{
    margin-top: 35px;
}
.price-map-hd{
    border-bottom: 1px solid #cdcdcd;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #646464;
}
.set{
    height:25px;
    line-height:24px;
    margin-left: 30px;
    font-size: 14px;
   border: 1px solid #cdcdcd;
   border-radius:16px;
   padding: 0 10px;
   margin-top: 5px;
   cursor: pointer;
}
.set-tip{
    width:330px;
    margin:0 auto;
    margin-top: 80px;
}
.set-button{
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-radius:16px;
    background-color: #ec6d00;
    margin-left:10px;
    cursor: pointer;
}
/*right*/
